body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#track-controls-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.track-control {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.track-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.track-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.track-button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.track-button.cyan { background-color: cyan; }
.track-button.green { background-color: green; }
.track-button.yellow { background-color: yellow; }
.track-button.red { background-color: red; }

.volume-control {
    margin-bottom: 20px;
}

.track-title-image {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.play-pause-button img, .stop-button img, .mute-button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: block;
    margin: 0 auto 20px auto;
}

.stop-button img {
    margin-bottom: 0;
}

.track-button img.mute-button {
    margin: 5px auto;
}