body, html {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#track-controls-container {
    margin-top: 2%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 65vh;
}

.track-control {
    background-color: #1e1e1e;
    padding: 1.7%;
    border-radius: 0.85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.425%;
    width: 8%;
    height: auto;
}

.general-track-control {
    background-color: #1e1e1e;
    padding: 1.7%;
    border-radius: 0.85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.425%;
    width: 8%;
    height: auto;
    margin-left: 2%;
}

.track-title {
    display: block;
    width: 100%;
    height: 100%;
    margin: 1.7% auto 2.125% auto;
}

.track-title-image {
    display: block;
    width: 42%;
    height: auto;
}

.upper-part {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46%;
    margin-bottom: 1.7%;
}


.left-buttons {
    display: block;
    align-items: center;
    width: 100%;
    height: auto;
}

.left-buttons img 
{
    margin: 0;
    padding: 0;
}

.lower-part {
    display: block;
    align-items: center;
    gap: 0.425%;
    width: 100%;
    height: auto;
}


.volume-control {
    display: block;
    align-items: right;
    justify-content: right;
    margin-left: 30%;
    width: 15%;
    height: auto;
}

.general-volume-control {
    display: block;
    align-items: right;
    justify-content: right;
    margin-left: 20%;
    width: 15%;
    height: auto;
}

.general-volume-control input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 24vh;
    width: 2vw;
}

.volume-control input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 24vh;
    width: 2vw;
}

.mute-button {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: block;
}

.play-pause-button img{
    width: 100%;
    height: auto;
}

.stop-button {
    display: block;
    align-items: center;
    gap: 0.425%;
    width: 100%;
    height: auto;
}

.track-buttons {
    display: block;
    flex-direction: column;
    margin-bottom: 0.425%;
}

.track-button {
    margin: 0.425%;
    padding: 0.85% 1.7%;
    border: none;
    border-radius: 0.425%;
    cursor: pointer;
    color: #ffffff;
}

.track-button img.mute-button {
    margin: 0.425% auto;
    width: 10%;
}

.level-button {
    width:70%;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 0.425% auto;
}
